<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <catalog>
            <ordercomment_settings>
                <comment_text>Default order comment</comment_text>
            </ordercomment_settings>
        </catalog>
    </default>
</config>
